# Active HDL
wave.asdbw/
wave.asdb

# I/O
# memory.txt
# out.txt

# ModelSim
work/
*.mti
*.mpf
*.wlf
transcript
bus.v.bak
top.v.bak
selector.v.bak
processor.v.bak
decoder.v
wave.asdb.error
dram.v.bak
iram.v.bak
